@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontColor: #c4c4c4;
$fontColorDarker: #6a6a6a;
$fontColorRed: #ba1f1f;
$transition: all 0.5s ease-in-out;
$transition2: all 0.3s linear;
$btnBacground: #333333;
$fontWhite: #fff;
$coloRectangle: #212121;
$coloBlack: #000;
$coloBtn: #fee9e9;
$colorSpanNew: #8a2ce2;
$colorModal: #dedeec;
$colorForm: #011f05;
$colorinput: #26402a;

$fontFamily: 'Poppins',
sans-serif;

